{% load static %}
<hr>
<footer class="main-footer  ms-5 me-5">
    <strong>Copyright &copy; 2023 @itisipam <a href="/">Dean Information System</a>.</strong>
    All rights reserved.
    <div class="float-end d-none d-sm-inline-block gy-5 ">
      <b>Version</b> 1.0
    </div>
  </footer>

<script src="{% static '/home/js/jquery.min.js' %}"></script>
<script src="{% static '/home/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/home/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/home/js/app.js' %}"></script>
<script src="{% static '/home/js/count-dounw-timing.js' %}"></script>


</body>

</html>