{% load static %}

                <!--THE SEARCHBAR BEGINS-->
 
                <form class="form-inline  float-right">
                    <div class="card-tools">
                      <div class="input-group input-group-sm" style="width: 240px;">
                        <input type="search" name="searchbar" class="form-control float-right" placeholder="Enter Phone Number" required>
    
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default"><i class="fas fa-search">Search</i></button>
                        </div>
                      </div>
                    </div> 
                
                    <!--THE SEARCHBAR ENDS-->